<div class="form-group">
  <label for="title">Title</label>
  <input name="title" class="form-control" placeholder="Basketball Game" value="{{album.title}}" />
</div>
<div class="form-group">
  <label for="desc">Description</label>
  <textarea name="desc" class="form-control" placeholder="A description of your album.">{{album.desc}}</textarea>
</div>
<div class="form-group">
  <label for="imgUrl">Image Url</label>
  <input name="imgUrl" class="form-control" placeholder="" value="{{album.imgUrl}}"/>
</div>
