
<div class="row mt-4">
    <div class="col-lg-6 offset-lg-3">
        <div class="card">
            <div class="card-body">
                <div class="card-title">
                    <h3>Update album</h3>
                </div>
                <div class="card-text">
                    <form action="/albums/{{album.id}}?_method=PUT" method="post">
                        {{> albums-form }}
                        <div class="text-right">
                            <a href="/albums/{{album.id}}" class='text-muted mr-2'>Cancel</a>
                            <button type="submit" class="btn btn-primary" name="button">Update</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
