<div class="row mt-4">
    <div class="col-lg-6 offset-lg-3">
      <h1>Create Your Memory Lane</h1>
      <a href="/albums/new">New Album</a>
      <h1>Albums</h1>
      {{#each albums}}
        <div class="card mt-3">
          <img class="card-img-top" src="{{this.imgUrl}}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{{this.title}}</h5>
            <p class="card-text">{{this.desc}}</p>
            <div class="text-right">
              <a href="#" class="btn btn-info">Delete</a>
              <a href="/albums/{{this.id}}" class="btn btn-primary">View</a>
            </div>
          </div>
        </div>
      {{/each}}
    </div>
</div>
